<h1>Post</h1>

<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)" > 
<!-- Select blog author -->
<div class="form-group">
    <label for="authorSelect">Post author</label>
    <select name="author" class="form-control" id="authorSelect" ngModel>
      <option *ngFor="let author of authors"> {{ author.name }}</option>
    </select>
  </div>
  <!-- Post title -->
  <div class="form-group">
      <label for="postTitle">Post title</label>
      <input name="title" class="form-control" id="postTitle" type="text" placeholder="Post title" ngModel>
  </div>


  <!-- Text area -->
  <div class="form-group">
      <label for="bodyTextArea">Post body</label>
      <textarea name="body" class="form-control" id="bodyTextArea" rows="3" ngModel></textarea>
    </div>

  <button type="submit" class="btn btn-primary">Done</button>

  </form>
