<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#" routerLink="/">BLOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/post" routerLinkActive="active">Post</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/search" routerLinkActive="active">Search</a>
            </li>
    </ul>
  </div>
</nav>